<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  verbose="true"
  bootstrap="vendor/autoload.php"
  colors="true"
>

  <!-- Test suites to be run -->
  <testsuites>
    <testsuite name="cliph">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>

  <!-- Filters for code coverage reporting -->
  <filter>
    <whitelist>
      <directory>./</directory>
      <exclude>
        <directory>./tests</directory>
        <directory>./vendor</directory>
      </exclude>
    </whitelist>
  </filter>

</phpunit>
